@font-face {
  font-family: "Oswald";
  src: url("./assets/fonts/Oswald/Oswald-VariableFont_wght.ttf");
  font-style: normal;
  font-weight: 400;
}

:root {
  --white-color: #fff;
  --black-color: #000;
  --gray-color: #f2f2f2;
  --green-color: #68b738;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--white-color);
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  min-height: 100vh;
  min-width: 320px;
}

.container {
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  padding: 53px 0 20px;
  z-index: 3;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__icon {
    width: 24px;
    height: 16px;
    position: relative;
    cursor: pointer;
    display: none;

    .burger {
      width: 100%;
      height: 1.5px;
      background: var(--black-color);
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      transition: 0.15s;

      &::before,
      &::after {
        content: "";
        width: 100%;
        height: 1.5px;
        background: var(--black-color);
        position: absolute;
        transition: 0.15s;
      }

      &::before {
        top: -7px;
      }

      &::after {
        top: 7px;
      }
    }

    &_active {
      .burger {
        background: transparent;

        &::before {
          top: 0;
          transform: rotate(135deg);
        }

        &::after {
          top: 0;
          transform: rotate(45deg);
        }
      }
    }
  }

  h2 {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    display: none;

    span {
      font-weight: 700;
    }
  }

  .menu {
    display: flex;
    gap: 32px;

    &__item {
      list-style: none;
    }

    &__link {
      color: var(--white-color);
      text-decoration: none;
      text-transform: uppercase;
      font-size: 20px;
      transition: 0.15s;
      position: relative;

      &:hover {
        color: #ececec;
      }

      &_active {
        color: var(--white-color);

        &::after {
          content: "";
          width: 100%;
          height: 2px;
          background: var(--white-color);
          position: absolute;
          left: 0;
          bottom: -5px;
          transition: 0.15s;
        }
      }
    }
  }
}

.hero {
  width: 100%;
  height: 1000px;
  display: flex;
  overflow: hidden;
  position: relative;

  &__picture {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
    z-index: 1;
  }

  &__content {
    height: 100%;
    flex: 0 0 100%;
  }

  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      font-weight: 400;
      font-size: 60px;
      max-width: 420px;
      line-height: 60px;
    }

    p {
      font-weight: 400;
      font-size: 20px;
      line-height: 20px;
      text-transform: uppercase;
      margin: 40px 0;
    }

    button {
      font-weight: 400;
      font-size: 20px;
      text-transform: uppercase;
      padding: 14px 26px;
      background: var(--green-color);
      color: var(--white-color);
      outline: none;
      border: none;
      width: fit-content;
      cursor: pointer;
      transition: 0.15s;

      &:hover {
        background: #589234;
      }
    }
  }

  &__img {
    background: #000 url("./assets/img/bg-hero.png") no-repeat center / cover;
    height: 100vh;
    width: 100%;
    display: block;
    flex: 0 0 50%;
    transform: translateX(-100%);
    z-index: -1;
  }
}

.catalog {
  padding: 82px 0 50px;

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;

    .item {
      background: #f2f2f2;
      padding: 47px 52px;
      display: grid;

      &__img {
        position: relative;

        &::after {
          content: "";
          width: 100px;
          height: 100px;
          background: var(--green-color);
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 50%;
          z-index: 1;
        }
      }

      &__info {
        display: flex;
        align-items: center;
        gap: 45px;

        h3 {
          font-weight: 400;
          font-size: 36px;
          line-height: 36px;
          text-transform: uppercase;
        }

        img {
          position: relative;
          z-index: 2;
        }
      }

      p {
        font-family: Arial;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin: 39px 0 23px;
      }

      a {
        text-decoration: none;
        font-weight: 400;
        font-size: 20px;
        line-height: 100%;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        gap: 25px;
        width: fit-content;

        img {
          transition: 0.15s;
        }

        span {
          color: var(--black-color);
        }

        &:hover {
          img {
            transform: translateX(10px);
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }

  .header {
    position: relative;
    background: var(--white-color);
    padding: 25px 0;

    .menu {
      &__link {
        color: var(--black-color);

        &_active {
          &::after {
            background: var(--black-color);
          }
        }
      }
    }
  }

  .hero {
    &__container {
      display: flex;
      justify-content: start;
      padding-left: 100px;
    }

    &__body {
      margin-top: 60px;
    }

    &__img {
      display: none;
    }

    &__picture {
      width: 660px;
      height: 600px;
      top: 55%;
      left: 50%;
      z-index: -1;
    }
  }

  .catalog {
    padding: 0;

    &__items {
      grid-template-columns: repeat(1, 1fr);
      gap: 30px;

      .item {
        position: relative;

        &__info {
          img {
            position: absolute;
            right: 55px;
            top: 50%;
            transform: translateY(-50%);
            width: fit-content;
            height: 150px;
          }
        }

        p {
          max-width: 443px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }

  .header {
    padding: 20px 0;

    h2 {
      display: block;
    }

    &__icon {
      display: block;
    }

    .menu {
      display: none;

      &__link {
        color: var(--black-color);

        &_active {
          &::after {
            background: var(--black-color);
          }
        }
      }
    }
  }

  .hero {
    height: fit-content;

    &__container {
      padding: 0;
    }

    &__img {
      display: block;
      z-index: -1;
      flex: 0 0 100%;
      height: 400px;
    }

    &__picture {
      position: static;
      width: 280px;
      height: 270px;
      transform: translate(0, 0);
      z-index: 1;
    }

    &__body {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      text-align: center;
      color: var(--white-color);

      h1 {
        font-size: 36px;
        line-height: 36px;
        max-width: 330px;
      }

      p {
        font-size: 14px;
      }

      button {
        font-size: 14px;
        line-height: 18px;
        // width: 100%;
        padding: 7px 40px;
      }
    }
  }

  .catalog {
    padding: 22px 0;

    &__items {
      .item {
        padding: 20px;

        &__info {
          gap: 10px;

          h3 {
            font-size: 24px;
            line-height: 37px;
          }

          img {
            position: initial;
            transform: translateY(0);
            height: 60px;
            width: 70px;
          }
        }

        p {
          font-size: 14px;
          line-height: 18px;
          position: relative;
          margin: 20px 0;
          max-width: 100%;

          &::after {
            content: "";
            width: 100%;
            height: 1px;
            background: #d9d9d9;
            display: block;
            margin-top: 20px;
          }
        }

        a {
          font-size: 16px;
          line-height: 16px;
        }
      }
    }
  }
}
